<!DOCTYPE html>
<html>
<head>
    <title>Interfaz Web de Prueba</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Interfaz Web de Prueba</h1>
<div class="message" id="message"></div>
<div class="keywords">
    <label for="keywords">Palabras clave:</label>
    <input type="text" id="keywords" name="keywords" placeholder="Separadas por comas (,)" />
    <button class="submit-btn" onclick="overwriteKeywords()">Sobreescribir palabras clave</button>
</div>
<button class="submit-btn" onclick="startRecording()">Iniciar prueba</button>
<button class="submit-btn" onclick="stopRecording()">Finalizar</button>

<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
